* {
  box-sizing: border-box;
  font-family: Lexend;
}

html,body {
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('./assets/images/cloud_background.png');
  background-repeat: repeat;
  background-size: auto;
  filter: blur(3px);
  z-index: -1;
}

.banner-container {
  background-color: #8096AD;
}

.about-container {
  background-color: #E7A872;
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 15px;
}

.website-title {
  padding: 15px;
  color: #F3F4F2;
  margin: 0;
  font-size: 40px;
  text-decoration: none;
}

.time-passed-container {
  background: #D59B95;
  width: 95%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
}

.timer-container {
  background: #D59B95;
  width: 95%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
}

.timer-container h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.timer-container input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid white;
  font-size: 14px;
}

.timer-controls {
  display: flex;
  gap: 12px;
  align-items:center;
  margin-top: 12px;
}

.timer-controls input {
  border-radius: 8px;
  width: 10%;
  font-size: 14px;
}

.timer-controls button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #CB7C73; /* Ceremonial Matcha (darker hover) */
}

.reset-button:hover {
  background-color: #CB7C73; /* Ceremonial Matcha (darker hover) */
}

.progress-bar {
  height: 10px;
  background: #eee;
  border-radius: 999px;
  border: 1px solid white;
  overflow: hidden;
  margin-top: 6px;
  width: 100%;
}

.progress-bar-fill {
  height: 100%;
  background: #CB7C73;
  transition: width 0.1s linear;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  font-variant-numeric: tabular-nums;
  margin-top: 8px;
  font-size: 14px;
}

.cloud-container {
  background-image: url('./assets/images/cloud_background.png')
}

.header {
  padding: 15px 20px;
  background-color: #3383C7
  ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-heart {
  height: 50px;
  transition: height 0.3s ease;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-right {
  display: flex;
  gap: 15px;
  font-size: 25px;
  
}

.header-right a {
  color: #ABC13A;
  text-decoration: none;
}

.header-right a:hover {
  color: white;
}