* {
  box-sizing: border-box;
  font-family: Lexend;
}

html,body {
  background-color: #C2D7A6;
  margin: 0;
}

.banner-container {
  background-color: #C3544B;
  margin: 10px auto;
  border-radius: 15px 15px 15px 15px;
  width: 95%;
}

.about-container {
  background-color: #F3F4F2;
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 25px;
}

.website-title {
  padding: 15px;
  color: #F3F4F2;
  margin: 0;
}

.timer-container {
  background: #88A66F;
  width: 95%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
}

.timer-container h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.timer-container input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 10%;
}

.timer-controls {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 12px;
}

.timer-controls input {
  border-radius: 8px;
  width: 10%;
  font-size: 14px;
  width: 10%
}

.timer-controls button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.start-button {
  background-color: #A7C47D,
}

.start-button:hover {
  background-color: #7D9368; /* Ceremonial Matcha (darker hover) */
}

.reset-button {
  background-color: #A7C47D,
}

.reset-button:hover {
  background-color: #7D9368; /* Ceremonial Matcha (darker hover) */
}

.progress-bar {
  height: 10px;
  background: #eee;
  border-radius: 999px;
  border: 1px solid white;
  overflow: hidden;
  margin-top: 6px;
  width: 100%;
}

.progress-bar-fill {
  height: 100%;
  /* background: #D96C75; */
  background: #E2787E;
  transition: width 0.1s linear;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  font-variant-numeric: tabular-nums;
  margin-top: 8px;
  font-size: 14px;
}